@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/Roboto-Regular.woff);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: RobotoRegular;
    --bg-color: rgb(224, 227, 235);
    --blue: rgb(40, 147, 214);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 300px minmax(300px, 4fr) minmax(300px, 1.2fr);
    grid-template-rows: 0.5fr 0.5fr 6fr;
    height: 100vh;
}

.dashboard {
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--blue);
    padding: 30px 20px;
    display: grid;
    grid-template-rows: minmax(50px, 0.8fr) minmax(50px, 0.7fr) minmax(300px, 3fr) minmax(50px, 0.7fr) minmax(150px, 1.5fr) minmax(0px, 5fr);
}

.icon-header {
    width: 48px;
    height: 48px;
    justify-self: center;
}

.icon {
    width: 24px;
    height: 24px;
    justify-self: center;
}

.icon-filter {
    filter: invert(100%);
}

.icon-text-header, .icon-text {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    margin: auto 0;
    justify-self: start;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.icon-text {
    font-size: 2rem;
}

.dashboard .header, .dashboard .middle-menu, .dashboard .bottom-menu {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    column-gap: 12px;
}

.dashboard .middle-menu {
    grid-row: 3 / 4;
}

.dashboard .bottom-menu {
    grid-row: 5 / 6;
}

.navigation-top {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(400px, 2fr) minmax(0px, 1.5fr) minmax(250px, 1fr);
    align-items: center;
    padding: 10px 80px 10px 0px;
    column-gap: 5px;
}

.form-search-bar {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(160px, 6fr);
    align-items: center;
    column-gap: 15px;
}

[for="search-bar"] {
    justify-self: end;
}

#search-bar {
    font-size: 2rem;
    border: none;
    background-color: var(--bg-color);
    border-radius: 50px;
    padding: 4px;
    padding-left: 15px;
}

#search-bar:active, #search-bar:focus {
    border: none;
    outline: none;
}

.navigation-right {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(135px, 2fr);
    align-items: center;
    column-gap: 5px;
}

.notifications {
    justify-self: end;
}

.profile-photo {
    border-radius: 50px;
    justify-self: center;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.profile {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(0px, 1.5fr) minmax(300px, 1fr);
    padding: 10px 60px 20px 40px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgb(199, 198, 198);
    clip-path: inset(0px 0px -15px 0px);
}

.profile-left {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: minmax(64px, 1fr) minmax(300px 8fr);
    grid-template-rows: 32px 32px;
    row-gap: 5px;
}

.profile-left .profile-photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
}

.profile-left p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    align-self: end;
    margin: 0;
}

.profile-left a {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    align-self: start;
}

.profile-right {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.profile-right button {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 50px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    align-self: center;
    justify-self: end;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: var(--bg-color);
}

.project-header {
    display: grid;
    padding: 10px 0px 0px 10px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.project-container {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 30px;
}

.project-card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px;
}

.project-card p {
    font-size: 1.4rem;
    margin: 0px;
}

.rightsidebar {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: var(--bg-color);
}
