@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/Roboto-Regular.woff);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: RobotoRegular;
    --bg-color: rgb(224, 227, 235);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 300px minmax(300px, 4fr) minmax(300px, 1.2fr);
    grid-template-rows: 0.5fr 0.5fr 6fr;
}

.dashboard {
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: rgb(40, 147, 214);
    padding: 20px;
    display: grid;
    gap: 80px;
}

.icon-header {
    width: 48px;
    height: 48px;
    justify-self: center;
}

.icon {
    width: 24px;
    height: 24px;
    justify-self: center;
}

.icon-filter {
    filter: invert(100%);
}

.icon-text-header, .icon-text {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    margin: auto 0;
    justify-self: start;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.icon-text {
    font-size: 2rem;
}

.dashboard .header, .dashboard .middle-menu, .dashboard .bottom-menu {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    column-gap: 12px;
    row-gap: 18px;
}

.navigation-top {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(400px, 2fr) minmax(0px, 1.5fr) minmax(200px, 1fr);
    align-items: center;
}

.form-search-bar {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(160px, 6fr);
    align-items: center;
    column-gap: 15px;
}

[for="search-bar"] {
    justify-self: end;
}

#search-bar {
    font-size: 2rem;
    border: none;
    background-color: var(--bg-color);
    border-radius: 50px;
    padding: 4px;
    padding-left: 15px;
}

#search-bar:active, #search-bar:focus {
    border: none;
    outline: none;
}

.navigation-right {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(135px, 2fr);
    align-items: center;
    column-gap: 5px;
}

.notifications {
    justify-self: end;
}

.profile-photo {
    border-radius: 25px;
    justify-self: center;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.profile {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: var(--bg-color);
}

.rightsidebar {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: var(--bg-color);
}
